[Unit]
Description=Starts i3lock at suspend time
Before=sleep.target

[Service]
User=gautam
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock -i /home/gautam/Pictures/Wallpapers/mrRobot.png -f

[Install]
WantedBy=sleep.target
